canvas {
    width: 100%;
    height: 90vh;
    background-image: radial-gradient(circle at 13.59% 102%, #16af79 0, #00b086 3.85%, #00b194 7.69%, #00b2a1 11.54%, #00b2ae 15.38%, #00b1bb 19.23%, #00b1c7 23.08%, #00b0d2 26.92%, #00aedd 30.77%, #00ade5 34.62%, #00aaed 38.46%, #00a8f2 42.31%, #00a5f6 46.15%, #10a1f8 50%, #4b9df8 53.85%, #6b98f6 57.69%, #8494f2 61.54%, #998eed 65.38%, #ac89e6 69.23%, #bc84dd 73.08%, #ca7fd3 76.92%, #d67ac8 80.77%, #df76bc 84.62%, #e773af 88.46%, #ec71a3 92.31%, #f07096 96.15%, #f27189 100%); 

}